*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess
.DS_Store
**/.DS_Store
*/debugbar/*
*/session/*
*/cache/*

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

# Image Cache Files
/public_html/images/cache/*
!/public_html/images/cache/index.html

# Cache Files
/writable/cache/*
!/writable/cache/index.html

# Log Files
/writable/logs/*
!/writable/logs/index.html

# Session Files
/writable/sessions/*
!/writable/sessions/index.html

# Upload Files
/writable/uploads/*
!/writable/uploads/index.html

# Download Files
/writable/download/*
!/writable/download/index.html

# Debugbar Files
/writable/debugbar/*
!/writable/debugbar/index.html